<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">

    <div class="div-logo">
      <img class="img-logo"
           [src]="appConfig.getAppLogo()"/>
    </div>
    <mat-card class="card-menu-button">
      <mat-card-content>
        <p>{{ appConfig.getAppOwner() }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content>
        <p>Logout</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ appConfig.getAppName() }}</span>
      <span class="example-spacer"></span>
      <app-cart-button></app-cart-button>
    </mat-toolbar>

    <img class="img-banner"
         src="https://img.freepik.com/premium-vector/online-pharmacy-banner-with-medication-shelf-smartphone-buying-blue_313242-582.jpg"/>
    <img class="img-banner"
         src="https://cdn.sketchbubble.com/pub/media/catalog/product/optimized1/c/a/ca0737e65a4edbadfab4d0dda8099bb3a93cebc5625a8b4c995bc571c48de3ed/online-pharmacy-mc-slide1.png"/>
    <img class="img-banner"
         src="https://cms.buzzrx.com/globalassets/buzzrx/blogs/what-is-a-mail-order-pharmacy.png"/>

    <mat-card class="card-about-us">
      <mat-card-title class="title-about-us">Welcome to {{ appConfig.getAppName() }}</mat-card-title>
      <mat-card-content>

        <div class="div-text">
          <p>

            Here we prioritize your health and well-being by offering a comprehensive range of medications and health products online.
            Our mission is to provide you with convenient, affordable, and reliable access to the medications you need, delivered right to your doorstep.
            <br><br>
           <strong>Why Choose Us?</strong>
            <br>
            - Wide Selection of Products: From prescription medications to over-the-counter drugs, vitamins, supplements, and health essentials, we have
          everything you need to maintain and improve your health.
            <br>
            - Certified and Trusted: Our pharmacy is fully licensed and operates under strict regulations to ensure the safety and efficacy of
            all our products.
            <br>
            - Expert Advice: Our team of qualified pharmacists is available to answer your questions and provide personalized advice to help
            you manage your health effectively.
            <br>
            - Fast and Discreet Delivery: Enjoy fast, reliable, and discreet shipping with every order. We understand the importance of privacy
            when it comes to your health.
            <br>
            - Secure and Easy Shopping: Our website offers a seamless shopping experience with secure payment options, ensuring your personal information
            is always protected.

            <br><br>
            <strong>Join Our Community</strong>
            <br>
            We believe in building a community focused on health and wellness. Sign up for our newsletter to receive the latest health tips, product updates, and exclusive offers. Follow us on social media and be part of a network dedicated to supporting each other’s health journeys.
            <br>
            Your Health, Our Commitment
            Trust us to be your partner in health. Whether you need a routine prescription refill or are looking for the latest health products,
            we are here to serve you with care and dedication.


          </p>
          <img class="img-section"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvgL8aZnPANiRUfY5V22U8DBTvQ6xnxTjBvw&usqp=CAU"/>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-about-us">
      <mat-card-title class="title-about-us">Impeccable Service</mat-card-title>
      <mat-card-content>
        <div class="div-text">
          <img class="img-section" style="margin-left: 0px !important; margin-right: 16px"
               src="https://www.michalsons.com/wp-content/uploads/2020/05/online-shopping-online-store-scaled-e1589481671612.jpg">

          <p>
            Seamless Shopping Experience: Say goodbye to hassle-filled shopping experiences. Our user-friendly website
            is designed to make your online shopping journey smooth and enjoyable. Easily browse, search, and filter
            through our vast selection, and complete your purchase with just a few clicks.

            Secure Payment Options: Your security is our top priority. That's why we offer a range of secure payment
            options to choose from, including credit/debit cards, PayPal, and more. Rest assured that your personal and
            financial information is safe with us.
            <br><br>
            Fast and Reliable Shipping: We understand that you're eager to receive your order. That's why we partner
            with trusted shipping carriers to ensure prompt and reliable delivery to your doorstep. Track your package
            every step of the way and enjoy speedy shipping times.

            Dedicated Customer Support: Have a question or need assistance? Our friendly customer support team is here
            to help. Reach out to us via email, phone, or live chat, and we'll promptly address your concerns and
            provide personalized assistance.

            <br><br>
            Start Shopping Now: Dive into our diverse collection and experience the convenience of online shopping like
            never before. Whether you're treating yourself or searching for the perfect gift, {{appConfig.getAppName()}}
            is
            your ultimate destination for all things fabulous. Happy shopping!
          </p>
        </div>

      </mat-card-content>
    </mat-card>

    <app-list-products [isAdmin]="false"></app-list-products>
  </div>

</mat-drawer-container>

